@font-face {
  font-family: "PT-Sans";
  src: url("./fonts/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT-Sans-bold";
  src: url("./fonts/PTSans-Bold.ttf") format("truetype");
}

body.overflow-auto {
  overflow: auto; /* Show scrollbar if content overflows */
}

body {
  margin: 0;
  font-family: "PT-Sans" !important;
  background-color: rgb(246, 247, 248);
}

@media (max-width: 1259px) {
  body::-webkit-scrollbar {
    display: none;
  }

  body {
    overflow: unset;
  }
}

/*  */
.messageDiv-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.messageDiv {
  background-color: #2a3647;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.no-scroll {
  overflow: hidden; /* Hides scrollbar when content does not overflow */
}

.overflow-auto {
  overflow: auto; /* Shows scrollbar when content overflows */
}
