.background {
  max-width: 453px;
  height: 594px;
  background-color: #2a3647;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px 0 0 30px;
}

.completebox {
  max-width: 1212px;
  height: 592px;
  display: flex;
  width: 100%;
}

.contactside {
  max-width: 759px;
  height: 594px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  padding-right: 48px;
  border-radius: 0 30px 30px 0px;
  flex-direction: column;
}

.contactside-closebutton {
  background-color: white;
  width: 24px;
}

.contactside-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 21px;
}

.contactside-form {
  display: flex;
  align-items: center;
  gap: 123px;
}

.logo {
  margin-left: 90px;
}

.alignwords {
  display: flex;
  flex-direction: column;
}

.maintitle {
  font-weight: 700;
  font-size: 61px;
  color: white;
}

.subwords {
  font-weight: 400;
  font-size: 27px;
  color: white;
}

.logodesign {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 74%;
}

.textinput {
  max-width: 380px;
  height: 24px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px 13px 21px;
  width: 100%;
  background-image: url(../img/person.png);
  background-repeat: no-repeat;
  background-position: 337px 12px;
}

.emailinput {
  max-width: 380px;
  height: 24px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px 13px 21px;
  width: 100%;
  background-image: url(../img/mail.png);
  background-repeat: no-repeat;
  background-position: 338px 11px;
}

.telefoneinput {
  max-width: 380px;
  height: 24px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px 13px 21px;
  width: 100%;
  background-image: url(../img/call.png);
  background-repeat: no-repeat;
  background-position: 342px 14px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 51px;
  width: 100%;
}

.inputpart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 37px;
  width: 100%;
}

.deletebutton {
  width: 113px;
  height: 55px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 21px;
  cursor: pointer;
}

.deletebutton:hover {
  color: #29abe2;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translate(-0.06em, -0.06em);
}

.savebutton {
  width: 111px;
  height: 57px;
  border-radius: 10px;
  border: none;
  background-color: #2a3647;
  font-weight: 700;
  font-size: 21px;
  color: white;
  cursor: pointer;
}

.savebutton:hover {
  background-color: #29abe2;
}

.textinputarea {
  display: flex;
  align-items: center;
  width: 364px;
  margin-left: auto;
}

.textinputarea img {
  position: relative;
  right: 30px;
}

.emailinputarea {
  display: flex;
  align-items: center;
  width: 364px;
  margin-left: auto;
}

.emailinputarea img {
  position: relative;
  right: 30px;
}

.telefoneinputarea {
  display: flex;
  align-items: center;
  width: 364px;
  margin-left: auto;
}

.telefoneinputarea img {
  position: relative;
  right: 30px;
}

.buttonsalignment {
  display: flex;
  gap: 25px;
}

#closeimage-white { 
  display: none;
}

@media (max-width: 1050px) {
  .completebox {
    flex-direction: column;
    max-width: 396px;
    height: 760px;
    position: relative;
  }
  .contactside {
    flex-direction: column;
    gap: unset;
    padding: unset;
    border-radius: 0 0 20px 20px;
  }
  .contactside-header {
    position: absolute;
    top: 22px;
    right: 20px;
  }

  .alignimage {
    display: none;
  }
  .inputpart {
    align-items: center;
  }
  .background {
    max-width: 396px;
    height: 352px;
    border-radius: 20px 20px 0px 0px;
  }
  .logo {
    margin-left: unset;
    position: absolute;
    top: 213px;
    left: 127px;
  }
  .logodesign {
    width: 94%;
    text-align: center;
  }
  .inputs {
    gap: 37px;
    margin-top: 76px;
    max-width: 400px;
  }
  .textinputarea,
  .emailinputarea,
  .telefoneinputarea {
    max-width: 364px;
    width: 100%;
  }
  .contactside-closebutton {
    background-color: #2a3647;
  }

  #closeimage-white { 
    display: block;
  }
  #closeimage { 
    display: none;
  }
}

@media (max-width: 410px) {
  .completebox {
    width: unset;
    margin: 0 10px;
  }
  .logo {
    top: 234px;
    left: 100px;
  }

  .maintitle {
    font-size: 52px;
  }
}
