.background {
  background-image: url(../img/Frame195.png);
  max-width: 453px;
  height: 594px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.completebox {
  max-width: 1212px;
  height: 592px;
  display: flex;
  width: 100%;
}

.contactside {
  max-width: 759px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 84px;
}

.logo {
  margin-left: 30px;
}

.textinput,
.emailinput,
.telefoneinput {
  max-width: 380px;
  height: 24px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px 13px 21px;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 51px;
  width: 100%;
}

.inputpart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
  width: 100%;
}

.deletebutton {
  width: 113px;
  height: 55px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 21px;
  cursor: pointer;
}

.deletebutton:hover {
  color: #29abe2;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translate(-0.06em, -0.06em);
}

.savebutton {
  width: 111px;
  height: 57px;
  border-radius: 10px;
  border: none;
  background-color: #2a3647;
  font-weight: 700;
  font-size: 21px;
  color: white;
  cursor: pointer;
}

.savebutton:hover {
  background-color: #29abe2;
}

.textinputarea {
  display: flex;
  align-items: center;
}

.textinputarea img {
  position: relative;
  right: 30px;
}

.emailinputarea {
  display: flex;
  align-items: center;
}

.emailinputarea img {
  position: relative;
  right: 30px;
}

.telefoneinputarea {
  display: flex;
  align-items: center;
}

.telefoneinputarea img {
  position: relative;
  right: 30px;
}

.buttonsalignment {
  display: flex;
  gap: 25px;
}

@media (max-width: 1050px) {
  .completebox {
    flex-direction: column;
  }
  .contactside {
    flex-direction: column;
  }
}
