.menu {
  height: 100vh;
  width: 232px;
  position: fixed;
  background: #2a3647;
}

.selectbutton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f7f8;
  padding: 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  position: relative;
  z-index: 3;
  cursor: pointer;
  background-color: white;
  margin-bottom: 15px;
}
.selectbutton:hover {
  border-color: #a8a8a8;
}

#contacts-box {
  position: absolute;
  top: 85%;
  left: 0;
  width: 100%;
  z-index: 2;
  display: none;
  background-color: white;
  border: 1px solid #d1d1d1;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  margin-top: 5px;
  flex-direction: column;
  border-top: none;
  max-width: 436px;
  scrollbar-width: thin;
}

#assignedusers {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.searchbar:focus {
  outline: none;
}

.searchbar {
  max-width: 239px;
  width: 100%;
  border: none;
  background-color: white;
}

.outsidedesign {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  max-width: 440px;
  width: 100%;
  background-color: #f6f7f8;
  z-index: 2;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
  display: none;
  border-radius: 10px;
  overflow-y: auto;
}

.outsidedesign li {
  padding: 12px 16px;
  cursor: pointer;
}

.dark-blue {
  background-color: #2a3647;
}

.buttondesign0 {
  border: none;
  background: none;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
}

.splitdivs {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-menudesign {
  display: flex;
  justify-content: space-between;
  padding: 7px 16px 7px 16px;
  align-items: center;
}

.error-message {
  color: red;
  font-size: 13px;
}

.flex {
  display: flex;
}

.contactbox-badge {
  width: 42px;
  border-radius: 50% 50%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.badge {
  padding: 5px;
  border-radius: 50% 50%;
  background-color: #f6f7f8;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgesize {
  width: 40px;
  height: 40px;
}

.successdesign {
  max-width: 326px;
  width: 100%;
  height: 74px;
  border-radius: 20px;
  background-color: #2a3647;
  box-shadow: 0px 0px 4px 0px #00000026;
  display: flex;
  align-items: center;
}

.successoverlay {
  display: flex;
  width: 100%;
  justify-content: center;
}

.successdesign_span {
  max-width: 235px;
  width: 100%;
  height: 24px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

nav {
  width: 100%;
  height: 96px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background: #ffffff;
}

.add-task-headline h1 {
  margin: 0;
  position: relative;
  top: 40px;
  left: 325px;
  display: flex;
  width: fit-content;
  font-size: 61px;
  font-family: "PT-Sans-bold";
  margin-bottom: 32px;
}

.wholebox {
  position: relative;
  top: 50px;
  left: 325px;
  display: flex;
  max-width: 990px;
  width: 100%;
}

form {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

.title2 {
  height: 96px;
}

.buttondesign0 {
  cursor: pointer;
}

label {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
}

.titleinput {
  height: 24px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
  max-width: calc(100% - 44px);
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  background-color: #ffffff;
  color: black;
  margin-bottom: 5px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(250%);
  transition: transform 0.2s ease, visibility 0.2s;
}

.text {
  height: 168px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  width: calc(100% - 34px);
  font-weight: 400;
  font-size: 20px;
  font-family: "PT-sans";
  padding: 18px 16px 18px 16px;
  background-color: #ffffff;
  color: black;
}

.contactswindows {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: scroll;
}

.firstbox {
  width: 100%;
  height: fit-content;
}

.line {
  height: 100%;
  border: 1px solid #d1d1d1;
}

.custom-select-selected:hover {
  border-color: #a8a8a8;
}

.custom-select-container {
  position: relative;
  width: 100%;
}

.custom-select-selected {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
  background-color: #fff;
  position: relative;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  z-index: 10;
}

.custom-option {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  font-family: Arial, sans-serif;
}

.custom-option:hover {
  background-color: grey;
  border-radius: 10px;
  color: #fff;
}

.custom-select.open .custom-select-options {
  display: block;
}

option {
  font-size: 20px;
  font-weight: 400;
}

.selectbox {
  position: relative;
  width: 100%;
  max-width: 441px;
}

select:hover {
  border-color: #a8a8a8;
}

select {
  padding: 12px 16px 12px 16px;
  width: 100%;
  border-radius: 10px;
  background-image: url(/img/arrow_drop_down.png);
  background-repeat: no-repeat;
  background-position: 96% 50%;
  cursor: pointer;
  border: 1px solid #d1d1d1;
}

.special-select {
  padding: 12px 16px 12px 16px;
  width: calc(100% - 34px);
  border-radius: 10px;
  border: 1px solid black;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.buttons2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.buttons2 span {
  font-size: 20px;
}

.buttons2_1,
.buttons2_2,
.buttons2_3 {
  max-width: 136px;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.buttons2_1:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.buttons2_2:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.buttons2_3:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.emailinput img {
  position: relative;
  right: 29px;
  top: 6px;
}

.d-none {
  display: none;
}

.emaildesign {
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: black;
  width: 100%;
}

.emaildesign2 {
  position: absolute;
  width: calc(100% - 58px);
  border: none;
  height: 19px;
  font-size: 20px;
  font-weight: 400;
}

.emaildesign2:focus {
  outline: none;
}

.emaildesign:focus {
  outline: none;
}

.emailinput2 {
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  max-width: calc(100% - 33px);
  padding: 12px 16px 12px 16px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.subtaskcontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.flex {
  display: flex;
}

.inputsubtask {
  height: 24px;
  padding: 12px 33px 12px 16px;
  border-radius: 10px;
  border: 1px solid #dedede;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.subtaskbutton {
  height: fit-content;
  border: none;
  width: fit-content;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  right: 6px;
  top: 10px;
  padding: 8px;
  border-radius: 50% 50%;
  cursor: pointer;
}

.subtaskbutton:hover {
  background-color: #dadadb;
  display: flex;
}

.subtaskbutton2 {
  height: 24px;
  border: none;
  width: 24px;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  right: 38px;
  top: 12px;
  padding: 5px;
  border-radius: 50% 50%;
  cursor: pointer;
}

.subtaskbutton2:hover {
  background-color: #dedede;
}

.subtaskbutton3 {
  height: 24px;
  border: none;
  width: 24px;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  right: 8px;
  top: 11px;
  padding: 1px;
  border-radius: 50% 50%;
  cursor: pointer;
}

.subtaskbutton3:hover {
  background-color: #dedede;
}

.seperateline {
  height: 15px;
  width: 1px;
  position: absolute;
  right: 34px;
  top: 17px;
  background-color: #bebebe;
}

.subtasksbox1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 109px;
}

.subbox {
  display: flex;
  width: 92%;
  justify-content: space-between;
  padding: 6px 16px 6px 16px;
}

.subbox1:hover {
  background: #eeeeee;
  cursor: pointer;
}

.subbox1 {
  padding: 6px 16px 6px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emailbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.firsthalfbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.secondhalfbox {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.d-none {
  display: none !important;
}

.subbox_11,
.subbox_22 {
  display: flex;
  gap: 10px;
}

.spansubtaskdesign {
  display: flex;
  justify-content: center;
}

.buttondesign {
  border: none;
  background: none;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  cursor: pointer;
}

.editinput {
  border: none;
  background-color: white;
  height: 20px;
}

.buttondesign1 {
  border: none;
  background: none;
  display: flex;
  align-items: center;
}

.secondbox {
  max-width: 440px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bt1 {
  background-color: #f6f7f8;
  color: #2a3647;
  width: 110px;
  height: 56px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  font-size: 20px;
  transition: all 0.2s ease;
}

.bt1:hover {
  color: white;
  border-color: #29abe2;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.bt2:disabled {
  cursor: default;
  background-color: #d3d3d3;
}
.bt2:disabled:hover {
  cursor: default;
  background-color: #d3d3d3;
}

.bt1:hover {
  transform: translate(-0.06em, -0.06em);
  color: #29abe2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bt2 {
  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  width: 183px;
  height: 56px;
  display: flex;
  font-family: "PT-Sans-bold";
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}

.bt2:hover {
  background-color: #29abe2;
}

.alignment2 {
  display: flex;
  gap: 54px;
}

.activelink2 {
  background-color: rgb(9, 25, 49) !important;
}

.lightred,
.lightorange,
.lightgreen {
  max-width: 136px;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #ff3d00;
}

.lightorange {
  background-color: #ffa800;
}

.lightgreen {
  background-color: #7ae229;
}

.buttonsalignment {
  display: flex;
  justify-content: space-between;
  max-width: 990.25px;
  align-items: center;
  margin: 0 20px;
}

.buttonsalignment_1 {
  margin-top: 35px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.required-indicator {
  color: red;
}

.selectinput:hover {
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.button-containerss {
  width: 136px;
}

.button-container span {
  font-size: 21px;
  font-weight: 500;
}

.buttonsalignment_1 span {
  color: #ff8190;
  font-size: 28px;
}

.buttonsalignment_2 {
  display: flex;
  gap: 16px;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-image: url("/img/Check button mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-image: url("/img/Check button mobile (1).png") !important;

  .custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
    display: block;
    left: 5px;
    top: 2px;
    width: 10px;
    height: 10px;
    background-image: url("/img/checked-icon.png");
    background-size: cover;
  }
}

.hidden {
  display: none;
}

.white-text {
  color: white;
}

@media (max-width: 1349px) {
  form {
    width: 90%;
  }
}

@media (max-width: 1259px) {
  .test {
    padding: 100px 0 78px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
  }
  .add-task-headline {
    max-width: 990px;
    width: 100%;
  }

  .add-task-headline h1 {
    margin: 0 20px;
  }
  .test123 {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .wholebox {
    top: 0;
    left: 0px;
    width: 100%;
    position: unset;
  }

  .add-task-headline h1 {
    position: unset;
  }

  form {
    flex-direction: column;
    width: 100%;
  }

  .alignment2 {
    margin: 0 20px;
  }
}

.badgeassigned {
  width: 32px;
  height: 32px;
  border-radius: 50% 50%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 830px) {
  .title2 {
    height: unset;
  }
  .selectbox {
    max-width: unset;
  }

  .add-task-headline {
    max-width: 600px;
  }

  .alignment2 {
    gap: 16px;
    flex-direction: column;
  }

  .wholebox {
    max-width: 600px;
    overflow: scroll;
    overflow-x: hidden;

    scrollbar-width: none;
  }

  .add-task-headline h1 {
    margin-bottom: unset;
  }

  .firstbox {
    height: unset;
    display: flex;
    flex-direction: column;
  }

  .firsthalfbox {
    gap: 16px;
  }

  .secondhalfbox {
    gap: 16px;
  }

  .line {
    display: none;
  }

  .secondbox {
    max-width: unset;
    gap: 16px;
  }

  .text {
    height: 88px;
    margin-bottom: 5px;
  }

  form {
    gap: 16px;
    height: fit-content;
  }

  .buttonsalignment_1 {
    margin-top: unset;
    display: flex;
    position: absolute;
    bottom: 588px;
    left: 430px;
  }

  .buttonsalignment_2 {
    gap: 8px;
  }

  .buttonsalignment {
    position: fixed;
    bottom: 76px;
    padding: 12px 0;
    background-color: #f6f7f8;
    width: 100%;
    max-width: 600px;
    z-index: 999;
    justify-content: center;
    margin: 0;
    flex-direction: column;
  }

  .subtasksbox1 {
    height: 109px;
  }

  #contacts-box {
    top: 76%;
    max-width: 550px;
  }

  .bt1 {
    width: 150px;
    height: 40px;
  }

  .bt2 {
    width: 150px;
    height: 40px;
  }
}

@media (max-width: 474px) {
  .button-containerss span {
    font-size: 16px;
  }

  .add-task-headline h1 {
    font-size: 48px;
    margin-top: 20px;
  }
}
