.background {
  max-width: 453px;
  height: 594px;
  background-color: #2a3647;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px 0 0 30px;
}

.completebox {
  max-width: 1212px;
  height: 592px;
  display: flex;
  width: 100%;
}

.contactside {
  max-width: 759px;
  height: 594px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  padding-right: 48px;
  border-radius: 0 30px 30px 0px;
  flex-direction: column;
}

.contactside-closebutton {
  background-color: white;
  width: 24px;
}

.contactside-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contactside-form {
  display: flex;
  align-items: center;
  gap: 0;
  max-width: 800px;
  width: 100%;
  height: 497px;
}

.logo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}

.alignwords {
  display: flex;
  flex-direction: column;
}

.maintitle {
  font-weight: 700;
  font-size: 61px;
  color: white;
}

.subwords {
  font-weight: 400;
  font-size: 27px;
  color: white;
}

.logodesign {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 74%;
}

.textinput {
  max-width: 380px;
  height: 24px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px 13px 21px;
  width: calc(100% - 45px);
}

.savebutton:disabled {
  background-color: rgb(211, 211, 211);
  cursor: default;
}

.savebutton:disabled:hover {
  background-color: rgb(211, 211, 211);
  cursor: default;
}

.emailinput12 {
  max-width: 380px;
  height: 24px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px 13px 21px;
  width: calc(100% - 45px);
}

.telefoneinput {
  max-width: 380px;
  height: 24px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px 13px 21px;
  width: calc(100% - 45px);
}

.spandesignname {
  color: red;
  height: 40px;
  text-align: center;
}
.spandesignemail {
  color: red;
  height: 40px;
}
.spandesignphone {
  color: red;
  height: 50px;
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  gap: 5px;
  width: 100%;
}

.inputpart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.deletebutton {
  width: 113px;
  height: 55px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 21px;
  cursor: pointer;
}

.deletebutton:hover {
  color: #29abe2;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translate(-0.06em, -0.06em);
}

.savebutton {
  width: 111px;
  height: 57px;
  border-radius: 10px;
  border: none;
  background-color: #2a3647;
  font-weight: 700;
  font-size: 21px;
  color: white;
  cursor: pointer;
}

.savebutton:hover {
  background-color: #29abe2;
}

.textinputarea {
  display: flex;
  align-items: center;
  max-width: 364px;
  width: 100%;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.textinputarea img {
  position: absolute;
  right: 13px;
  top: 14px;
}

.emailinputarea {
  display: flex;
  align-items: center;
  max-width: 364px;
  width: 100%;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.emailinputarea img {
  position: absolute;
  right: 13px;
  width: 24px;
  top: 14px;
}

.telefoneinputarea {
  display: flex;
  align-items: center;
  max-width: 364px;
  width: 100%;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.telefoneinputarea img {
  position: absolute;
  right: 13px;
  top: 17px;
}

.buttonsalignment {
  display: flex;
  gap: 25px;
  width: 100%;
}

#closeimage-white {
  display: none;
}

@media (max-width: 1050px) {
  .completebox {
    flex-direction: column;
    max-width: 396px;
    height: 760px;
    position: relative;
  }

  .contactside {
    flex-direction: column;
    gap: unset;
    padding: unset;
    border-radius: 0 0 20px 20px;
  }

  .contactside-header {
    position: absolute;
    top: 22px;
    right: 20px;
  }

  .alignimage {
    display: none;
  }

  .inputpart {
    align-items: center;
  }

  .background {
    max-width: 396px;
    height: 352px;
    border-radius: 20px 20px 0px 0px;
  }

  .logo {
    margin-left: unset;
    position: absolute;
    top: 213px;
    left: 130px;
    height: unset;
    width: unset;
  }

  .logodesign {
    width: 94%;
    text-align: center;
  }

  .inputs {
    max-width: 400px;
    align-items: center;
  }

  .textinputarea,
  .emailinputarea,
  .telefoneinputarea {
    max-width: 364px;
    width: 100%;
  }

  .contactside-closebutton {
    background-color: #2a3647;
  }

  #closeimage-white {
    display: block;
  }

  #closeimage {
    display: none;
  }

  .buttonsalignment {
    justify-content: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 415px) {
  .completebox {
    width: 310px;
    margin: 0 10px;
  }
  .logo {
    top: 220px;
    left: 120px;
  }

  .maintitle {
    font-size: 52px;
  }

  .background {
    height: 300px;
    margin-top: 20px;
  }

  .contactside {
    height: 300px;
  }

  .logo img {
    width: 86px;
    height: auto;
  }

  .inputs {
    gap: 0;
    margin-top: 24px;
    width: 90%;
  }

  .spandesignemail,
  .spandesignname,
  .spandesignphone {
    height: 20px;
  }

  .subwords {
    font-size: 16px;
  }

  .contactside-closebutton {
    margin-top: 20px;
  }
}
