.contact_box {
  width: 100%;
  height: 364px;
}

.contact-box__header {
  display: flex;
  align-items: center;
  gap: 54px;
}

.wordstyle {
  font-weight: bold;
  font-size: 47px;
  padding-bottom: 16px;
  overflow-wrap: anywhere;
}

.contact-box__info-title {
  max-width: 207px;
  height: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}

.contact-box__title {
  margin-bottom: 27px;
}

.contact-box__actions {
  padding-top: 16px;
  display: flex;
  gap: 16px;
}

.contact-box__action {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-box__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.weight {
  font-weight: bold;
}

#email {
  color: rgb(41, 171, 226);
}

.contact-box__detail {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

button {
  border: none;
  background-color: #f6f7f8;
  cursor: pointer;
}

.contact-box__badge {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50%;
  font-size: 47px;
  font-weight: 500;
  color: white;
  border: solid 2px white;
}

.arrow-left-overlay-container {
  display: none;
  width: 100%;
}

.arrow-left-overlay {
  display: none;
  cursor: pointer;
}

.arrow-left-overlay:hover {
  transform: scale(1.1);
  background-color: white;
}

.contact-overlay-head {
  display: none;
}

.headline-span {
  display: flex;
  flex-direction: column;
}

.overlay-options {
  display: none;
  position: absolute;
  cursor: pointer;
}

.dropup-menu {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 0px;
  background-color: white;
  padding: 24px;
  border-radius: 20px 20px 0px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
  gap: 16px;
}

#editbutton-overlay,
#deletebutton-overlay {
  display: flex;
  gap: 8px;
}

.dropup-menu a:hover {
  background-color: #555;
}

@media (max-width: 849px) {
  .contact-box__actions {
    display: none;
  }
}

@media (max-width: 990px) {
  .wordstyle {
    font-size: 32px;
  }
}

@media (max-width: 849px) {
  .contact_box {
    background-color: rgb(246, 247, 248);
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    height: 100vh;
    width: 100%;
  }

  .contact-overlay-head {
    display: block;
    margin-bottom: 32px;
    margin-top: 120px;
  }

  .contact-box__header {
    margin-top: 32px;
  }

  .overlay-headline {
    gap: 128px;
    display: flex;
  }

  .seperator {
    height: 1px;
    width: 80px;
    max-width: unset;
    margin-top: 16px;
  }

  .arrow-left-overlay-container {
    display: flex;
  }

  .arrow-left-overlay {
    display: flex;
    background-color: rgba(128, 128, 128, 0.13);
    border-radius: 20px;
    margin-right: 24px;
  }
}

@media (max-width: 474px) {
  .overlay-options {
    display: flex;
    right: 10px;
    bottom: 80px;
    display: inline-block;
  }

  .contact-box__badge {
    width: 80px;
    height: 80px;
    font-size: 28px;
  }

  .contact-box__actions {
    display: none;
  }

  .contact-box__title {
    margin-bottom: 0;
  }

  .contact-box__header {
    gap: 32px;
    margin-right: 10px;
  }
}

@media (max-width: 369px) {
  .overlay-headline {
    gap: 72px;
  }

  .wordstyle {
    font-size: 24px;
  }

  .contact-box__badge {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
}
