.help-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 103px;
    left: 328px;
    max-width: 1016px;
    gap: 30px;
    margin-right: 64px;
    overflow: scroll;
    scrollbar-width: none;
    max-height: -webkit-fill-available;
}

.help-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help-headline p {
    font-size: 61px;
    font-family: 'PT-Sans-bold';
    margin-block-start: 0;
    margin-block-end: 0.3em;
}

.help-content p {
    font-size: 27px;
    font-family: 'PT-Sans-bold';
    margin-block-start: 0;
    margin-block-end: 0.3em;
}

.help-content span {
    font-size: 16px;
}

.btn-arrow {
    cursor: pointer;
}

.btn-arrow:hover {
    scale: 1.2;
    background-color: rgba(128, 128, 128, 0.082);
    border-radius: 50%;
}

.how-to-container {
    display: flex;
    gap: 32px;
    margin-top: 16px;
}

.how-to-content p {
    font-size: 20px;
    margin-block-end: 0em;
    ;
}

.help-content a {
    text-decoration: none;
    color: rgb(41, 171, 226);
}

.how-to-content span {
    margin-block-start: 0em;
    font-size: 16px;
}

.endline-help {
    font-size: 27px;
    font-family: 'PT-sans-bold';
}

.help-icon {
    display: none;
}

.profileSection {
    padding-left: 32px;
}

@media (max-width:1259px) {

    .help-container {
        position: relative;
        left: 0;
        top: 0;
        margin: auto;
        padding: 128px 20px;
    }

    .btn-arrow {
        position: fixed;
        right: 32px;
    }
}

@media (max-width: 440px) {

    .help-headline p {
        font-size: 47px;
    }
}

@media (max-width: 380px) {

    .help-headline p {
        font-size: 40px;
    }
}