* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #f6f7f8;
  overflow-x: hidden;
}



.content-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}












/* .container {
  height: 490px;
  width: 650px;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}


.content-limitation {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}



.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: auto;
  z-index: 10;
  transition: transform 2s ease-in-out;
  margin-top: 50px;
  margin-left: 20px;
} */





.container {
  height: 491px;
  width: 650px;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.content-limitation {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative; 
}

.container-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); 
  width: 180px;
  height: auto;
  z-index: 10;
  transition: transform 2s ease-in-out; 
}


.logo.fly-in {
  transform: translate(-50%, -50%) scale(1); 
}

.sign-up-header {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  max-width: 280px;
  gap: 35px;
  z-index: 99;
}

.sign-up-p {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  font-weight: 400;
  height: 24px;
  width: 153px;
}

.sign-up-button {
  height: 50px;
  width: 90px;
  font-size: 16px;
  border: 1px solid #2a3647;
  border-radius: 8px;
  background-color: #2a3647;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sign-up-button:hover{
  background-color: #29ABE2; 
  border-color: #29ABE2; 
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

h2 {
  position: absolute;
  top: 38px;
  display: flex;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 73px;
}

.blue-line {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 130px;
  height: 3px;
  background-color: #29abe2;
  border-radius: 3px;
  width: 100%;
  max-width: 155px;
  margin-bottom: 20px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

input {
  padding: 15px 20px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 16px;
  line-height: 1.5;
}

input::placeholder {
  color: #d1d1d1;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 3px;
}

input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(38, 59, 153, 0.5);
}

input[type="email"] {
  width: 420px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin-bottom: 20px;
  position: absolute;
  top: 180px;
  left: 120px;
}

.email-icon {
  width: 24px;
  position: absolute;
  left: 500px;
  top: 178px;
  bottom: 211px;
  transform: translateY(50%);
}

input[type="password"] {
  width: 420px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  position: absolute;
  top: 250px;
  left: 120px;
}

.password-icon {
  width: 24px;
  position: absolute;
  left: 500px;
  top: 247px;
  bottom: 211px;
  transform: translateY(50%);
}

.checkbox-wrapper-29 {
  --size: 1rem;
  --background: #fff;
  font-size: var(--size);
}

.checkbox-wrapper-29 *,
.checkbox-wrapper-29 *::after,
.checkbox-wrapper-29 *::before {
  box-sizing: border-box;
}

.checkbox-wrapper-29 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-29 .checkbox__label {
  width: var(--size);
}

.checkbox-wrapper-29 .checkbox__label:before {
  content: " ";
  display: block;
  height: var(--size);
  width: var(--size);
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
  background: var(--background);
}

.checkbox-wrapper-29 .checkbox__label:after {
  content: " ";
  display: block;
  height: var(--size);
  width: var(--size);
  border: calc(var(--size) * 0.14) solid #000;
  transition: 200ms;
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
  background: var(--background);
  border-radius: 3px;
}

.checkbox-wrapper-29 .checkbox__label:after {
  transition: 100ms ease-in-out;
}

.checkbox-wrapper-29 .checkbox__input:checked ~ .checkbox__label:after {
  border-top-style: none;
  border-right-style: none;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: calc(var(--size) * 0.5);
  border-color: green;
}

.checkbox-wrapper-29 .checkbox {
  position: absolute;
  left: 120px;
  top: 310px;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 20px 0;
}

.checkbox-wrapper-29 .checkbox__label:after:hover,
.checkbox-wrapper-29 .checkbox__label:after:active {
  border-color: green;
}
.checkbox-wrapper-29 .checkbox__label {
  margin-right: calc(var(--size) * 0.45);
}

.checkbox-text {
  font-size: 18px;
}

.login-guest-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 180px;
  top: 385px;
  gap: 35px;
}


.login-button {
  height: 50px;
  width: 90px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #2a3647;
  border-radius: 8px;
  background-color: #2a3647;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease; 
}

.login-button:hover{
  background-color: #29ABE2; 
  border-color: #29ABE2; 
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.login-button:disabled {
  background-color: #2a3647b2; 
  border-color: #2a3647c5; 
  pointer-events: none;
}

.guest-button {
  height: 50px;
  width: 177px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #2a3647;
  border-radius: 8px;
  background-color: #ffffff;
  line-height: 19px;
  color: #2a3647;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 140px;
  transition: all 0.2s ease; 
}

.guest-button:hover{
  border-color: #29ABE2; 
  color: #29ABE2; 
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.legal-links {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  gap: 48px;
}

.legal-links a {
  color: #A8A8A8;
  text-decoration: none;
}

.legal-links a:hover {
  color: #29ABE2;
  scale: 1.05;
  font-family: 'PT-sans-bold';
}

.messageDiv {
  background-color: rgb(42,54,71);
  color: white;
  padding: 15px 25px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1rem;
  opacity: 0;
  animation: fadeOut 7s forwards;
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 5;
  transition: opacity 2s ease-in-out;
  pointer-events: none;
}



.fly-in {
  animation: pauseInMiddle 2s ease, flyInToHeader 0.9s ease 0.5s forwards;
}

.sign-up-header-mobile {
  display: none;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

@keyframes pauseInMiddle {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes flyInToHeader {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
  }
  100% {
    top: 0px;
    left: 20px;
    transform: translate(0, 0);
    width: 80px;
  }
}




@media (max-width:699px) {

  .container {
    width: 450px;
  }

  input[type="email"]  {
    left: 12px;
  }

  input[type="password"]  {
    left: 12px;
  }

  .email-icon {
    left: 400px;
  }

  .password-icon {
    left: 400px;
  }

  .checkbox-wrapper-29 .checkbox {
    left: 16px;
  }

  .login-guest-buttons {
    left: 80px;
  }

  .sign-up-header {
    display: none;
  }

  .sign-up-header-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 32px;
  }

  .legal-links {
    margin-top: 60px;
  }
}

@media (max-width:499px) {

  .container {
    width: 380px;
  }

  h2 {
    font-size: 48px;
  }

  input[type="email"]  {
    width: 350px;
  }

  input[type="password"]  {
    width: 350px;
  }

  .email-icon {
    left: 330px;
  }

  .password-icon {
    left: 330px;
  }

  .login-guest-buttons {
    left: 40px;
  }

  .logo {
    width: 140px;
  }

  .guest-button {
    left: 120px;
  }
  
  @keyframes flyInToHeader {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 140px;
    }
    100% {
      top: 0px;
      left: 20px;
      transform: translate(0, 0);
      width: 60px;
    }
  }  
}


@media (max-width:410px) {

  .container {
    width: 300px;
  }

  input[type="email"]  {
    width: 275px;
  }

  input[type="password"]  {
    width: 275px;
  }

  .email-icon {
    left: 250px;
  }

  .password-icon {
    left: 250px;
  }

  .login-guest-buttons {
    left: 22px;
    gap: 20px;
  }

  .guest-button {
    width: 140px;
  }
}

@media (max-width:399px) {

  .logo {
    width: 120px;
  }

  .sign-up-header-mobile {
    margin-top: 40px;
  }
  
  .legal-links {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @keyframes flyInToHeader {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120px;
    }
    100% {
      top: 0px;
      left: 20px;
      transform: translate(0, 0);
      width: 50px;
    }
  }  
}


