
.content-limitation {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
  
  .join-logo {
    width: 100px;
    height: 120px;
    margin-top: 170px;
    margin-left: 77px;
  }
  
  .sign-up-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 279px;
    height: 49px;
    margin-top: 67px;
    margin-right: 77px;
    gap: 35px;
  }
  
  .sign-up-text {
    height: 24px;
    width: 153px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-family: sans-serif;
    color: #000000;
  }
  
  .sign-up-btn {
    height: 49px;
    width: 91px;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: bold;
    background-color: #2a3647;
    border: 1px solid #2a3647;
    border-radius: 8px;
    color: #fff;
    gap: 10px;
  }
  
  
