.nav-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 232px;
    height: 100vh;
    background-color: #2a3647;
    position: absolute;
  }
  
  .nav-bar-img {
    padding: 64px 0;
  }
  
  .menu-nav-bar {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    height: 100vh;
    gap: 15px;
  }
  
  .legal-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .legal-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 243px;
    gap: 8px;
    padding-bottom: 59px;
  }
  
  .legal-links a {
    display: flex;
    justify-content: center;
    color: #a8a8a8;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 0px;
  }
  
  .legal-links a:hover {
    color: rgb(41, 171, 226);
    font-weight: bold;
    scale: 1.03;
  }
  
  .main-page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 96px;
  }
  
  .head-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 96px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    box-shadow: rgba(33, 35, 38, 0.4) 0px 10px 10px -10px;
  }
  
  .head-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
  }
  
  .head-bar-slogan {
    font-size: 20px;
    padding: 20px 40px 20px 328px;
  }
  
  .head-bar-img {
    padding: 20px 16px;
    display: none;
  }

  @media (max-width:1259px) {

    .nav-bar {
      display: none;
    }
     
    .head-bar-slogan {
      display: none;
    }
    
    .head-bar-responsiv {
      display: block;
      position: fixed;
    }
    
    .head-bar-img {
      display: block;
    }

    .head-bar-img img {
      width: 48px;
      height: auto;
    }
    
    .nav-bar-responsive-wrapper {
      display: flex;
    }
    }
    
    @media (max-width: 440px) {
    
      .responsive-menu {
        font-size: 14px;
      }
    
      .responsive-menu img {
        height: 24px;
        width: auto;
      }
    
      .menu-nav-bar-responsive {
        gap: 8px;
      }
    }