.privacy-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 103px;
    left: 328px;
    max-width: 1016px;
    gap: 30px;
    margin-right: 64px;
    overflow: scroll;
    scrollbar-width: none;
    max-height: -webkit-fill-available;
}

.privacy-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.privacy-headline p {
    font-size: 61px;
    font-family: 'PT-Sans-bold';
    margin-block-start: 0;
    margin-block-end: 0.3em;
}

.privacy-content p {
    font-size: 27px;
    font-family: 'PT-Sans-bold';
    margin-block-start: 0;
    margin-block-end: 0.3em;
}

.privacy-content span {
    font-size: 16px;
}

.btn-arrow {
    cursor: pointer;
}

.btn-arrow:hover {
    scale: 1.2;
    background-color: rgba(128, 128, 128, 0.082);
    border-radius: 50%;
}

.activelink5 {
    display: flex;
    justify-content: center;
    width: 232px;
    background-color: rgb(9, 25, 49) !important;
    pointer-events: none !important;
}

@media (max-width:1259px) {

    .privacy-container {
        position: relative;
        left: 0;
        top: 0;
        margin: auto;
        padding: 128px 20px;
    }

    .btn-arrow {
        position: fixed;
        right: 32px;
    }
}

@media (max-width: 440px) {

    .privacy-headline p {
        font-size: 47px;
    }
}

@media (max-width: 380px) {

    .privacy-headline p {
        font-size: 40px;
    }
}