*{
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    cursor: pointer;
   
}

body{
    background-color: #F6F7F8;
    overflow: hidden;
    font-family: 'PT-Sans';
    margin: 0;
    height: 100vh;
}