.boxtemplate {
  max-width: 445px;
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  padding: 48px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px #00000029;
  border-radius: 30px;
  justify-content: space-between;
}

.layout {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-none {
  display: none;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-image: url("/img/unchecked.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-image: url("/img/checked.png");
}

.designlayout
  .custom-checkbox
  input[type="checkbox"]:checked
  + .checkmark::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-image: url(/img/checked.png);
  background-size: cover;
  display: block;
}

.designlayout .custom-checkbox .checkmark {
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.header button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.task-title {
  font-size: 23px;
  font-weight: 400;
  overflow-wrap: anywhere;
  height: 30px;
  overflow: scroll;
  scrollbar-width: none;
}

.due-date-container {
  display: flex;
  width: 100%;
  gap: 25px;
}

.priority-container {
  display: flex;
  gap: 25px;
  align-items: center;
}

.priority-indicator {
  display: flex;
  gap: 10px;
  padding: 4px 18px 4px 18px;
  align-items: center;
}

.assigned-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtasks-container1 {
  overflow-y: scroll;
  scrollbar-width: thin;
}

.subtasks-container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.subtasks-container3 {
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  margin-bottom: 20px;
}

.subtasks-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 141px;
}

.subtask {
  display: flex;
  gap: 16px;
  max-height: 90px;
}

.subtasks-title {
  font-size: 16px;
  font-weight: 400;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.userbox {
  max-width: 144px;
  width: 100%;
  background-color: #1fd7c1;
  color: white;
  padding: 4px 24px 4px 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlebox {
  width: 100%;
  display: flex;
  overflow-wrap: anywhere;
  font-size: 32px;
  margin-top: 20px;
}

.priority-indicator div {
  margin-top: 2px;
}

.box1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.titlebox span {
  font-size: 32px;
  width: 100%;
}

.description {
  max-width: 445px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  overflow-wrap: anywhere;
}

.description span {
  font-weight: 400;
  font-size: 20px;
}

.selectbox {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.selection {
  padding: 12px 16px 12px 16px;
  width: 100%;
  border-radius: 10px;
}

.duedate {
  font-size: 20px;
  font-weight: 400;
}

.align {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  max-height: 100px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.align div {
  align-items: center;
}

.button1 span:hover {
  color: #1fd7c1;
}

.alignsubdiv {
  max-width: 93px;
  display: flex;
  justify-content: space-around;
  padding: 7px 16px 7px 16px;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.alignsubdiv2 {
  max-width: 93px;
  display: flex;
  justify-content: flex-start;
  padding: 7px 16px 7px 27px;
  width: 100%;
}

.subtask-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.subtask-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.subtask-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.buttonss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

.buttons2 {
  display: flex;
  width: 100%;
  gap: 16px;
}

.buttonss label {
  width: 100%;
}

.buttons2_1,
.buttons2_3,
.buttons2_2 {
  max-width: 121px;
  width: 100%;
  height: 41px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 18px 10px 18px 10px;
}

.button1 span {
  font-size: 16px;
  font-weight: 400;
}

.button-container1 {
  width: 100%;
}

.titleinputdesign {
  width: calc(100% - 43px);
  height: 20px;
  padding: 10px 21px 10px 21px;
  border-radius: 10px;
  border: 1px solid #e1e1e2;
  font-weight: 400;
  font-size: 20px;
}

.headertitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.descriptionpart {
  display: flex;
  flex-direction: column;
  gap: 8;
}

.descriptionpartinput {
  resize: none;
  padding: 18px 21px 18px 21px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  max-width: calc(445px - 44px);
}

.duedateinputcontainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.duedateinput {
  width: calc(100% - 44px);
  height: 19px;
  padding: 8px 21px 8px 21px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
}

.button1 {
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.mainline {
  height: 21px;
  background-color: #d1d1d1;
  width: 1px;
}

@media (max-width: 549px) {
  .boxtemplate {
    width: 70%;
  }

  .titlebox {
    font-size: 23px;
    margin-top: 20px;
  }

  .titlebox span {
    font-size: 23px;
  }

  .subtasks-title {
    font-size: 16px;
  }
}
